

<div class="container mt-3 mb-5">
  <div class="row">
    <div class="col-12">
      <h1>My lists</h1>
    </div>
  </div>
  <br>
  <br>

  <div class="row">
    <% @lists.each do |list| %>
      <div class="col-md-4 my-2">
          <div class="card-category" style="position:relative; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://imgsrc.cineserie.com/2022/06/maxresdefault-3.jpg?ver=1)">
          <%= link_to list.name, list_path(list), class: "my-card"%>
          <%= link_to list_path(list), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, style:"position:absolute; bottom:5px; right:5px;" do %>
          <i class="garbage fa-solid fa-trash d-flex justify-content-end align-items-end text-light"></i>
          <% end %>
          </div>
      </div>
    <% end %>
  </div>
</div>
